<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student_information.Name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @student_information.Weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @student_information.Height %>
</p>

<p>
  <strong>Color:</strong>
  <%= @student_information.Color %>
</p>

<p>
  <strong>Gpa:</strong>
  <%= @student_information.GPA %>
</p>

<p>
  <strong>Region:</strong>
  <%= @student_information.Region %>
</p>

<%= link_to 'Edit', edit_student_information_path(@student_information) %> |
<%= link_to 'Back', student_informations_path %>
